<nav class="navbar fixed-top py-0 d-inline-flex flex-nowrap">
<!-- <nav class="navbar fixed-top navbar-toggleable-sm py-0 d-inline-flex flex-nowrap"> -->
  <!-- <button (click)="toggleCollapse()" class="navbar-toggler navbar-toggler-left" type="button"> -->
  <!-- <button class="navbar-toggler navbar-toggler-left py-0 collapsed" type="button" data-toggle="collapse" data-target="#navbarLinks" aria-controls="navbarLinks" aria-expanded="false" aria-label="Toggle navigation links">
    <i class="fa fa-bars" aria-hidden="true"></i>
  </button> -->
  <a class="navbar-brand justify-content-start" href="#" style="">
    <i class="fa fa-coffee" aria-hidden="true"></i>
    HaLFRICE
  </a>
  <!-- <div class="navbar-collapse collapse show" [@collapse]="collapse" id="navbarLinks"> -->
  <!-- <div class="navbar-collapse collapse" id="navbarLinks"> -->
  <div class="navbar-links-wrapper d-inline-flex">
    <div class="navbar-links d-inline-flex" id="navbarLinks">
      <a class="nav-item nav-link" href="#">VIDS<span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="#">TECH</a>
      <a class="nav-item nav-link" href="#">$</a>
      <a class="nav-item nav-link" href="#">NEWS</a>
      <a class="nav-item nav-link" href="#">POLITICS</a>
      <a class="nav-item nav-link" href="#">X3</a>
      <a class="nav-item nav-link" href="#">SCIENCE</a>
      <a class="nav-item nav-link" href="#">LMAO</a>
      <a class="nav-item nav-link" href="#">SPORTS</a>
      <a class="nav-item nav-link" href="#">BEER</a>
      <a class="nav-item nav-link" href="#">FOOD</a>
      <a class="nav-item nav-link" href="#">MUSIC</a>
      <a class="nav-item nav-link" href="#">MOVIES</a>
      <div class="navbar-links-fader"></div>
    </div>
  </div>
  <div class="navbar-user d-flex justify-content-right" id="navbarUser">
    <a class="nav-item nav-link" href="">LOG IN</a>
    <a class="nav-item nav-link" href="">SIGN UP</a>
  </div>
</nav>
